@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional enhancements */
a {
  @apply font-medium text-blue-600 hover:text-blue-500 no-underline;
}

h1 {
  @apply text-4xl font-bold leading-tight;
}

button {
  @apply rounded-md border border-transparent px-4 py-2 text-base font-medium bg-gray-900 text-white hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    color: #000;
  }
}
